{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
   <div id="myShop">
        <a href="https://shop.spreadshirt.com/smashingtheparty">Fetching store products...</a>
    </div> 
</main>

<script>
    var spread_shop_config = {
        shopName: 'smashingtheparty',
        locale: 'us_US',
        prefix: 'https://shop.spreadshirt.com',
        baseId: 'myShop'
    };
</script>
<style>
    .gh-portal-triggerbtn-wrapper { display: none: visibility: hidden }
</style>
<script type="text/javascript"
        src="https://shop.spreadshirt.com/shopfiles/shopclient/shopclient.nocache.js">
</script>